* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  background-image: url('img/selaman1.jpg');
  width: 100%;
  min-height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;

  color: #ff00ff;
  font-family: 'Raleway', sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  header h1 {
    font-size: 48px;
  }
}
section {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: content;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
}

section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

section ul li {
  list-style: none;
  background-color: #eee;
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

section ul li.active {
  background: #03a9f4;
  color: white;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product .itemBox {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5px;
  display: block;
}
.product .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product .itemBox.hide {
  display: none;
}
footer {
  background-color: rgba(1, 29, 11, 0.918);
  color: white;
  font-size: 12px;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0%;
  padding-bottom: 10px;
}
